
.side-bar {
    background-color: #556c91;
}

a {
    color: #83062d;
    text-decoration: none;
}


img {
  border: 2px solid black !important;
  padding: 3px !important;
  margin-left:10px !important;
}
